<header>
    <div class="flexnav">
        <h1 id="logo">
            IBM Blocks
        </h1>
        <nav>   
            <div class="link"><a href="">Projects</a></div>
            <div class="link"><a href="">Data</a></div>
            <div class="link"><a href="">Settings</a></div>
            <div class="profile">
            <div class="image"><img src="https://upload.wikimedia.org/wikipedia/en/7/70/Shawn_Tok_Profile.jpg" alt=""></div>
                <div class="name">Robbie Reporter</div>
            </div>
        </nav>
    </div>
</header><!-- /header -->